<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.property_name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Age of a building:</strong>
  <%= @property.age_of_a_building %>
</p>

<p>
  <strong>Note:</strong>
  <%= @property.note %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
